.ReAuth.cfg
*.log
*.zip
options.txt
server.dat
*/saves/*
*/screenshots/*
*/crash-reports/*
usercache.json
usernamecache.json
server.dat
*/journeymap/*
*/noctrl/*
*/schematics/*
*.gz
*/natives/*
OptiFine*
optionsof.txt
patchouli_data.json